[2019-08-15 12:12] myavchik opened #27 "[RFC] Add Mercure"
Add [Mercure](https://github.com/dunglas/mercure) or something similar.

But first, wait until https://github.com/dunglas/mercure/issues/105 solved.

[2019-11-16 17:29] ahoulgrave opened #85 "[FEATURE REQUEST] New Relic Support"
First of all, thanks for your software. It's been a great experience working with it.

I moved my Symfony application to Roadrunner, which improved the performance, but New Relic integration does not seem to work.

I was wondering if anyone has successfully integrated it, or you have any tips on this.

Thanks in advance.

[2020-04-30 08:37] haozige90 opened #24 "[RFC] Support for NATS"
Hi guys,

Thanks for great job, we have run RR in production for months, so far so good.

We are trying to use nats for async service communication, and we decide to use nats golang client.

Reasons:
1. As you mentioned in Spiral doc, due to the blocking nature of PHP.
2. Nats PHP client is unofficial, and it has no good support from community.

May I know do you have any suggestions for us?

[2020-06-02 19:35] jasonmccallister opened #21 "[FEATURE REQUEST] Support LetsEncrypt for TLS certificates"
**Is your feature request related to a problem? Please describe.**
Instead of needing to provide TLS certificates, it would be awesome if roadrunner supported Lets Encrypt.

**Describe the solution you'd like**
A configuration option to use Lets Encrypt for TLS.

**Describe alternatives you've considered**
Considering Caddy since it has built in TLS, but it lacks many of the features Roadrunner ha

[2020-11-16 16:56] rustatian opened #33 "[RR2] Update `gRPC` plugin"
Update php-grpc plugin to be compatible with the RR2

[2021-04-27 15:45] khoerintus opened #12 "[PLUGIN, TEMPORAL] After the activity is completed and worker is terminated (graceful), the last event is still ActivityTaskScheduled"
Hi @rustatian , thanks for the fix.

But I encountered another issue.
When the activity is complete and the worker is terminated, but in temporal web, the last event in the workflow is still ActivityTaskScheduled.
I expected when the activity is complete and worker is successfully terminated, I can see the last event in temporal web is ActivityTaskCompleted.

I already update my samples code [here

[2021-05-13 19:24] rustatian opened #32 "[RFC, CONFIG] `.rr.yaml` configuration versioning"
We version the`.rr.yaml` file with the RR major releases. This approach binds our hands when we see a place to improve the configuration, but that change is treated as breaking. We should either wait for the new major release or write many adapters to transform configuration under the hood. Or as the worst solution - wait for the better time �
I propose to:
1. Follow the docker, docker-compose, an

[2021-06-17 12:17] alexander-schranz opened #9 "[FEATURE REQUEST] Support X-Sendfile Header"
**Is your feature request related to a problem? Please describe.**

When having private files behind a PHP firewall you return them in Symfony as a BinaryFileResponse. When supported by the Webserver in this case the `x-sendfile` header will be used which just tell the webserver where the file can be found which need to be streamed out.

**Describe the solution you'd like**

It would be great when

[2021-08-11 06:47] cidious opened #34 "[FEATURE REQUEST] Access logs"
The problem is I can't find the access logs when running RR as a frontend web server for PHP Laravel app.

When running the app as Nginx+PHP-FPM you got the access logs from nginx plus slow logs from FPM. Both of them can be routed to stderr inside a container and caught for analysis.

I see the two options to get the logs using RR:

- run RR in debug mode. You got a lot more logging than the acce

[2021-09-16 04:06] rustatian opened #4 "[SERVER] Friendly error messages"
ref: https://github.com/spiral/roadrunner/discussions/799

1. Update `worker_watcher` error messages to be more friendly.
2. Update roadrunner-docs troubleshoot section with the more detailed steps to resolve prev. `no workers in the pool` error.
3. Add basic calculations for the const worker latency or max latency spikes.

[2021-09-18 11:05] rustatian opened #5 "[FEATURE REQUEST] Run scripts in the server's command"
### Discussed in https://github.com/spiral/roadrunner/discussions/796

<div type='discussions-op-text'>

<sup>Originally posted by **rustatian** September 13, 2021</sup>
Hey, RR community. I want to ask you about one feature.
How likely do you guys need to have the ability to execute scripts in the `server` plugin, like this:
Script sample:
[code]

`rr.yaml` sample:
[code]

At the moment we have a

[2021-09-18 11:05] azjezz opened #6 "[FEATURE REQUEST] support Mercure Protocol for broadcasting ( as a replacement for WebSocket )"
I would like to see a first-party integration for Mercure protocol with roadrunner, which could serve as a replacement for WebSocket broadcasting.

Mercure is used widely in the Symfony ecosystem, it has an [official integration with the framework](https://github.com/symfony/mercure-bundle/), and is used for [hotwire integration in Symfony UX](https://github.com/symfony/ux-turbo/).

A [standalone

[2021-09-18 11:05] azjezz opened #7 "[FEATURE REQUEST] Early Hints support (103 HTTP code)"
Currently, roadrunner allows sending 1 response at the time, this means we can't send early hint ( or any other 1xx ) responses.

**Describe the solution you'd like**

A solution to be able to send multiple responses at the time to the roadrunner server, this could be done by changing the structure of the payload to be sent ( and ofc ensuring the HTTP server itself is able to handle 1xx responses

[2021-09-18 11:05] rustatian opened #8 "[PLUGIN, DB] Connections pool plugin for the databases [Postgres, MySql, etc]."
Design a plugin that will solve a problem with Postgres (will be first) connections for the PHP workers. At the moment PHP has to use `pgBouncer` or other tools to initialize a pool of the connections and then re-use them. The idea is to have a plugin that will provide a pool of connections to the PHP. PHP will send a packet to a local listener, then the plugin will take a free connection from the

[2021-09-18 11:06] SerafimArts opened #10 "[FEATURE REQUEST, WEBSOCKETS] Use `ws` broadcast scheme instead of `http`"
When creating a websocket connection, the following information is sent:

[code]

The RR interprets this and returns the following information:
[code]

In our case, this is not entirely correct interpretation, since the current scheme according to which the request occurs is `ws`, not `http`.

**Describe the solution you'd like**

In the case of an incoming request via the HTTP protocol, which req

[2021-09-18 11:06] steffendietz opened #11 "[FEATURE REQUEST, RR2] Support SSE as an alternative to websockets"
Now that we have websockets as a means to provide (bidirectional) push communication from the server to the browser, it would also be nice to support [server-sent events](https://developer.mozilla.org/en-US/docs/Web/API/Server-sent_events/Using_server-sent_events) for (unidirectional) push messages.

SSE could potentially use the already existing pub-sub infrastructure of the websockets.

**Additi

[2021-09-18 11:06] rustatian opened #13 "[RR2] Split monolitic http plugin into the http/http2/fcgi plugins"
At the moment, we have a big monolithic `http` plugin which consists of three servers:
1. HTTP server
2. HTTP2 server
3. FCGI server

We need to split these responsibilities into three separate plugins. In the first stage, all three plugins will have a single configuration (so no changes for the configuration from the user perspective). But `http` will show a warning that in the future `http` conf

[2021-09-18 11:06] hugochinchilla opened #14 "[FEATURE REQUEST, RR2] Allow merging two config files"
In roadrunner 1.x we could have two different config files, one for production and other for develpment.

An example development config file looked like this:

[code]

Now the include block is not handled as `spf13/viper` does not have this feature implemented, (but is requested https://github.com/spf13/viper/pull/893).

As a workaround for this problem I can suggest two solutions:

 * Allow passi

[2021-09-18 11:07] Anlamas opened #15 "[FEATURE REQUEST, RR2] Rate limitter"
**Is your feature request related to a problem? Please describe.**
A rate limitter for requests. I'm guessing it will be much faster than php middleware.

**Describe the solution you'd like**
If it is possible i'd like to pass number of limit from the framework side(spiral), eg number of limit for specific user stored in database.
If not, a simple limitter is still a nice-to-have thing.

**Describ

[2021-09-18 11:07] rustatian opened #16 "[RR2] Extend http server configuration options"
Extend `http` section with http server configuration options, such as: `read-write timeouts`, `header size` etc..

[2021-09-18 11:07] connerbw opened #17 "[FEATURE REQUEST, RR2] Google Cloud SQL inside Roadrunner Server"
**Is your feature request related to a problem? Please describe.**

Right now, to access Google Cloud SQL I run two Dockers inside a Kubernetes pod (my app, and gcr.io/cloudsql-docker/gce-proxy) Instead, I would like the proxy to be available as a service such as `service/metrics` or `broker/sqs` inside roadrunner server.

**Describe the solution you'd like**

When I start cloud-sql proxy I get:

[2021-09-18 11:07] rustatian opened #18 "[RR2] Native platform implementation of file watcher events"
1. Linux - `inotify`.
2. MacOS - `kqueue`.
3. Windows - `ReadDirectoryChangesW`.

Fallback implementation - current.

[2021-09-18 11:08] klkvsk opened #19 "[FEATURE REQUEST, RR2] A command to refresh working dir (re-resolve symlink)"
**Is your feature request related to a problem? Please describe.**
A popular automatic deployment technique is to upload each release in separate folder, then switch symlink that points to latest one, like so:
[code]
Switching symlink is "atomic", it helps to prevent problems when you get requests while uploading new release.
At this time, roadrunner does not allow that technique, due to symlink b

[2021-09-18 11:08] porozhnyy opened #20 "[FEATURE REQUEST] Provide health check support"

[2021-09-18 11:08] rustatian opened #22 "[RR2] Upgrade net/http to fasthttp"
Replace standard `net/http` module with the `fasthttp`. With this enhancement, we can reduce memory usage (because of sync.Pool which is used under-the-hood of fasthttp, and etc...) and provide a way more performant solution for the HTTP transport layer (see the benches here: https://github.com/valyala/fasthttp).

[2021-09-18 11:08] cidious opened #23 "[RFC] [FEATURE REQUEST] QUIC or HTTP/3"
Hi guys,
thank you for the project.

Do you plan to implement the QUIC protocol AKA HTTP/3?

I cannot into Golang, but i've found several implementations of QUIC: [1](https://github.com/lucas-clemente/quic-go) [2](https://github.com/pion/quic) [3](https://github.com/romain-jacotin/quic)

According to the [article](https://eng.uber.com/employing-quic-protocol/) from Uber, this should be a very prom

[2021-09-18 11:08] vsychov opened #25 "[RFC] Proxy protocol support reqest"
Hi guys,

First of all thanks for you great job, and great software.

Will be very good if roadrunner can support ha-proxy protocol - https://www.haproxy.org/download/1.8/doc/proxy-protocol.txt.

It will allow use RR in digitalocean cloud with load balancers (https://blog.digitalocean.com/load-balancers-now-support-proxy-protocol/), without proxy protocol support imposible to get real client IP, a

[2021-09-18 11:09] wolfy-j opened #26 "[Feature] Profiler Module based on xhprof"
Integrate https://github.com/tideways/php-xhprof-extension as the source of profiling data and pass this data into rr service via RPC. Store data in local db (BoltDB) or memory and share information about application performance via RPC or expose the port. Need UI.

[2021-09-18 11:09] myavchik opened #28 "[RFC, JOBS] Scheduled jobs"
Add separate simple queue (use jsondb for example) with scheduled jobs, which will send job to broker at scheduled time. Like https://github.com/mindblowup/taskq

[2021-09-18 11:09] lwc opened #29 "[RFC] Streaming request & responses"
This project looks like it could be very useful in building a GRPC server bridge for PHP, which would be amazing.

GRPC has the concept of streaming request & responses, is that something you'd consider adding to roadrunner/goridge?

Thanks

[2021-09-18 11:29] rauanmayemir opened #30 "[FEATURE REQUEST] Plugin for profiling with pyroscope"
**Describe the solution you'd like**

[Pyroscope](https://github.com/pyroscope-io/pyroscope) is a profiling tool that consists of a server and agents that live alongside the app (actually they exec the underlying app, periodically sample the process memory and collect profiling information).

It would be nice to have a RR plugin that handles the agent setup for the workers and forwards the data to

[2021-09-18 11:30] rustatian opened #31 "[RFC] Native plugins support (so, dll)"
At the moment we use plugins `roadrunner/plugins` folder as golang code. This means that is impossible to load a plugin in runtime without recompile the whole RR code with a new plugin. Golang at the moment supports native plugins via `plugin` package but only on Linux and macOS [Link](https://golang.org/pkg/plugin/).
And according to the discussion in the issue below:

Tracking issue https://gith

[2021-09-18 21:39] rustatian commented on #23
ref: https://github.com/golang/go/issues/32204

[2021-09-20 07:11] #4 closed

[2021-09-20 07:11] #33 closed

[2021-09-23 08:01] Shikachuu opened #39 "[BUG] Non-root user refuses to create or use boltdb db file"
Running rr with a non-root user refuses to create the db file using key-value plugin with boltdb.

I tried this Dockerfile:
[code]

I expected to see this happen: Creates a boltdb db file to the specified location (`/home/app/rr.db`)

Instead, this happened: Breaks with permission denied error

The version of RR used: 2.4.1

My `.rr.yaml` configuration is:
[code]

Errortrace, Backtrace or Panictra

[2021-09-23 09:24] rustatian commented on #39
@Shikachuu Found the issue. For some reason, `viper` (library we use to parse yaml configuration) doesn't parse leading 0 in the permissions key. So, 0777 becomes 511. Could you please try to use just 777 ?

[2021-09-23 09:28] Shikachuu commented on #39
@rustatian thats a nice news, but I am affraid `777` throws the same.
Config:
[code]

[2021-09-23 09:29] rustatian commented on #39
Ok, got u.

[2021-09-23 09:31] rustatian commented on #39
This is def issue in the parser, direct passing `os.FileMode` works well. I'll notify you when the fix is ready.

[2021-09-23 09:32] Shikachuu commented on #39
Thank you very much! :smile:

[2021-09-23 10:01] Shikachuu commented on #39
@rustatian the same problem occures also with jobs using the bolt db dirver in the same config/container.
With the followin config:
[code]

[2021-09-23 10:17] rustatian commented on #39
yeah, jobs use the same driver under the hood. Working on the fix....

[2021-09-23 12:20] rustatian commented on #39
@Shikachuu Could you please show the `ls -la` output (especially `rr.db` permission bits)?

[2021-09-23 12:29] Shikachuu commented on #39
The file doesn't exist, so I can't really send you the output :(

On 2021. Sep 23., Thu at PM 2:20, Valery Piashchynski <
***@***.***> wrote:

--
Mt

[2021-09-23 12:34] rustatian commented on #39
I guess, that you can't create a file, because the user has no permissions to create a file (not in the group for example). I guessed, that the problem is somewhere else, but when I started RR process and it creates a file (0777) permissions, the `ls -la` shows me correct permission bits - `- rwx r-x r-x`. RR process owns the file (2-3-4 bits) and thus can manipulate the data. Might be you should

[2021-09-23 13:21] Shikachuu commented on #39
I think it is, but you can check the Dockerfile in the issue itself, I am currently running the exact same one.

[2021-09-23 13:28] rustatian commented on #39
I already tried on the dev Dockerfile https://github.com/spiral/roadrunner-binary/blob/master/dev/Dockerfile.local, no errors.

[2021-09-23 13:28] rustatian commented on #39
Dockerfile in the issue is non-reproducible since there are a lot of user-specific folders in it.

[2021-09-23 13:34] Shikachuu commented on #39
There is only one folder which contains the `composer.json` and an `index.php`, those files are currently irrelevant.
There is also a `custom.ini` file, which is currently an empty ini file.

[2021-09-23 13:37] Shikachuu commented on #39
I can provide the files if it helps the process move forward.

@rustatian,
If I am not mistaken, this container runs the `rr` binary as root, so this is irrelevant too, since the root version is working for me as well.

[2021-09-23 13:54] rustatian commented on #39
I removed all irrelevant files, np. And I see your issue. I'll try to dig into it, but it seems, that the issue doesn't relate to the RR. But I'll try to help you.

[2021-09-23 13:55] Shikachuu commented on #39
Thank you very much!
Let me know if I can help you with anything or you need any aditional information.

[2021-09-23 14:00] rustatian commented on #39
@Shikachuu Try to use this config:
[code]
W/o `dir`.

[2021-09-23 14:08] Shikachuu commented on #39
Thanks, this is working with both k/v and jobs. But why? :thinking:

[2021-09-23 14:08] #39 closed

[2021-09-23 14:14] rustatian commented on #39
We don't use `dir`, just file with full path. This is also valid for the `jobs`. https://github.com/spiral/roadrunner-binary/blob/stable/.rr.yaml#L214
The `dir` key was used in the past in the old configuration. This is completely my bad, I forgot to mention this in the release notes 😞

[2021-09-26 11:17] rustatian opened #40 "[FEATURE REQUEST] Distribute KV drivers (service discovery)"
Consul and etcd drivers (any other?) for the KV plugin.
Consul: https://www.consul.io/
etcd: https://etcd.io/

[2021-09-28 17:29] Fichtme opened #42 "[FEATURE REQUEST] Change static Content-type header"
**Is your feature request related to a problem? Please describe.**

When serving static content the application returns the file with the header `Content-Type | application/zip`.

My problem is that i've an `.apk` file. If you download the static content with the header content-type `application/zip`. the android browser adds `.zip` extension to the file.

If i could change that header to `applica

[2021-09-28 18:11] vasilevrv opened #43 "Access to http server pool events"
Hello!

I need to add event listeners to http server pool for observe faults and send to Sentry. For example https://github.com/UPDG/roadrunner-sentry

How can i do it in v2?

[2021-09-28 18:12] #43 closed

[2021-09-28 18:15] butschster opened #46 "[FEATURE REQUEST] Logs raw output without extra modification"
I'm using the RR plugin `service` with Laravel console commands. From times to times I need to send logs from PHP to console.

When I run console  command without RR I have output like this.
![image](https://user-images.githubusercontent.com/773481/135140991-6ce2dd8a-4ada-4558-a7df-726e9d75be50.png)

But when I run the same command via RR  service plugin I have modified output, It has extra new li

[2021-09-28 18:21] butschster opened #47 "[FEATURE REQUEST] Colorized logs from service plugin"
I'm using the RR plugin service with Laravel console commands. From times to times I need to send logs from PHP to console.

It would be great to have an option to turn on/off colorized stdout.

[2021-09-28 18:24] rustatian commented on #46
Hey @butschster , thanks for the request. Will be resolved in the `v2.5.0`. Stay tuned 😃

[2021-09-30 14:59] #21 closed

[2021-10-01 10:10] victor-sudakov opened #50 "[FEATURE REQUEST] More flexible static files serving"
**Is your feature request related to a problem? Please describe.**
If I want to serve static files with different response headers, e.g. some files should have "Cache-Control: "public, max-age=300" and others "Cache-Control: no-cache" there seems no way to do it.

**Describe the solution you'd like**
Could we have more than 1 static.dir with distinct "response" settings?

**Describe alternatives y

[2021-10-01 10:43] victor-sudakov commented on #50
I'd suggest using a list to be more consistent with modern fashion:

[code]

[2021-10-01 10:47] rustatian commented on #50
yeah, sure, I meant the same. So, will see, I expect to be done in `2.5.x`, after we release `2.5.0` (probably next week).

[2021-10-01 13:32] #47 closed

[2021-10-01 13:32] #46 closed

[2021-10-01 13:39] Alexfilus opened #51 "[FEATURE REQUEST] Get domain list for Let's encrypt not from config"
I have ~400 subdomains. Now it is working with manual update of wildcard certificate.
Auto renewal of subdomain's list can simplify support.
Add everything to YAML config looks hard.

Option allows to get domain list from simple file. Domains divided with \n

Ability to read domains from some KV database, or Sqlite3, or from some more complicated file format, might be amazing.

Perfect solution: R

[2021-10-04 08:42] rustatian commented on #27
Closing in favor of: https://github.com/spiral/roadrunner-plugins/issues/6

[2021-10-04 08:42] #27 closed

[2021-10-05 04:51] OO00O0O opened #55 "[FEATURE REQUEST] Authorization plugin"
**Describe the solution you'd like**
For example: EMQX has multiple authorisation plugins - http, mysql, redis etc. Considering that a lot of people use RR for microservices with JWT, authorization could be moved to it too.

**Example config**
[code]

For now only JWT makes sense. Example in practice: https://docs.emqx.io/en/broker/v4.3/advanced/auth.html#password-salting-rules-and-hash-methods

[2021-10-05 05:15] OO00O0O commented on #5
I use RR as entrypoint in docker so I really would love to have some way of moving "boot" script to it. I need to warmup symfony, check some services etc. And only when worker is waiting for request and is actually ready I send requests to it. I have hard dependency for docker health check.

My usual config looks like: `server: "php --ini /service/docker/php.ini /service/server"`. `server` is entr

[2021-10-05 05:41] rustatian commented on #5
Hey @OO00O0O . Thanks for your feedback.
`on_boot` feature looks natural to me. This is a good proposal. Could you please describe your `on_boot` case in a separate ticket and I'll discuss this with our PHP team?

[2021-10-05 06:31] rustatian commented on #55
Hey @OO00O0O , thanks for the FR.
I'm not quite sure, that I correctly understand your proposal. Could you please provide more details, especially about how other plugins will collaborate with the `auth` plugin and what data they should send to it? And full configuration, w/o `~`.
For example, what should be done for the `http` plugin (in terms of authorization), if the `auth` plugin exists?

[2021-10-05 06:36] rustatian commented on #42
Hey @Fichtme , thanks for the FR.
Do I understand correctly, that your application returns the `.apk` file, with the `application/zip` content-type header and you want to change this header in the RR plugin to the proper header for the `.apk` file according to the `mime` types ?

[2021-10-05 08:44] Fichtme commented on #42
Yeah, that's exactly what i want. But if that's not possible maybe a workaround to define the header for each file type?

[2021-10-05 09:37] rustatian commented on #42
But, why you can't send the proper header from the application?

[2021-10-05 14:39] OO00O0O commented on #55
View of this functionality really depends on how you see RR in future and now. Me personally see it as http/ws application server/framework. I do not care about GRPC or Temporal. So I do not consider them in this example.

[code]

Flow: Client first time access service with expired JWT token in header `Authorization`
1.  RR sees used authorization header and takes its `value`
2. Because in `auth.c

[2021-10-05 15:51] OO00O0O opened #57 "[FEATURE REQUEST] Boot trigger"
**Problem**
Before Kernel starts and it can handle connections, a lot of work have to be done.
For example:
- validating configuration
- warming up cashes
- checking connections
- building dependency tree

**Solution 1 - any program, checks exit value.**
 New config value `server.boot`. Same as `services` except it uses timeouts from worker pool and does not restart.
- **0** - start workers
- **>=

[2021-10-05 16:11] rustatian commented on #57
Thanks for the proposal, @OO00O0O, Solution 1 seems fine to me. The process can't return `string` exit code, so, it would be only `0` or `>= 1`, which is also fine. Generally, the proposal looks good to me.
In the `boot` or I guess would be better `on_init` or `init` stage, RR executes the file/script provided by the path, and then if everything is fine (no timeouts, no non zero exit code) will co

[2021-10-05 16:12] OO00O0O commented on #5
#57 - done.

Back on topic: if RR can accept any script, then it makes no difference who communicates with it. I mean RR could run ANY worker in ANY language that can work with protobuf and/or json(for fallback).

[2021-10-05 16:22] rustatian commented on #55
np, I respect your time as much as I respect mine 😃

np, I'll ask PHP teammates at tomorrow daily :)
Please, keep in mind, a good discussion is only possible with a detailed proposal :) People should clearly understand, what do mean by your proposal and then productively discuss it :)
Also, keep in mind, that I'm not a PHP dev at all, so, I have to understand, how do you want to use this feature a

[2021-10-05 16:42] OO00O0O commented on #55
Main problem for me is that I do not know what PHP devs prefer - voters or roles. Be more implicit or explicit. Therefor it's hard to write good proposal that would pass.

I personally prefer configuring generic functionality and writing specific code. Others will do configurations and abstractions till death. And some people can write http servers almost in one line when they need them and ignore

[2021-10-05 17:01] rustatian commented on #55
In your proposal, you have to cover all these options.

[2021-10-05 19:38] rustatian commented on #9
@alexander-schranz Feature will be available for testing by the end of the week in the `v2.5.0-beta.2`.

[2021-10-05 19:39] rustatian commented on #34
@cidious Feature will be available by the end of the week in the `v2.5.0-beta.2` with the following fields:
`method` - http method.
`remote_addr` - request remote address.
`bytes_sent` - content-length,
`http_host` - host.
`request` - request Query.
`time_local` - local time in Common Log Format.
`request_length` - request body with headers size (content-len + size of all headers) in bytes. Max al

[2021-10-06 06:03] rustatian opened #58 "[FEATURE REQUEST] TCP plugin to handle raw TCP payloads"
Plugin to handle raw TCP payloads and pass them to the worker.
- Should not be a very big plugin.
- Should handle the raw TCP and send packages directly to the worker's pool.
- Timeouts? Because of n:m mapping, where n is a number of connections and m number of workers, there are could be processing delays.
- Handle disconnects.
-  Configuration should include full TCP server config.

[2021-10-06 07:08] #9 closed

[2021-10-06 07:09] #34 closed

[2021-10-06 08:54] alexander-schranz commented on #9
Awesome thank you all 👍

[2021-10-06 12:29] butschster opened #60 "[FEATURE REQUEST] Env variables for services"
It would be great to have ability to set ENV variables for each service.

Something like this:

[code]

[2021-10-07 07:51] rustatian commented on #24
@sash2222 Could you please explain, what is your expectations from the NATS driver in the RR? Do you need to subscribe to the particular message, or it would be enough to subscribe to `*`, in the RR, but have the ability to push to a particular topic?
Because from my perspective, we can have 1 subscriber in the RR with a pattern like `roadrunner-*`, and you'd have the ability to push to any topic

[2021-10-08 05:33] OO00O0O opened #65 "[FEATURE REQUEST] Size shortcut G, M support for configuration"
**Problem**
Now one gigabyte looks like `8000000000`(bits) or `1073741824`(bytes) in `server.max_request_size` if you like me and forget how conversion is done.

**Solution**
Use G(gigabyte) M(megabyte) for describing sizes. This already implemented in php config too.
[code]

[2021-10-08 12:54] alexander-schranz opened #66 "[💡FEATURE REQUEST]: Add HTTP Cache Middleware [IMPLEMENTATION TRACKING TICKET]"
**Is your feature request related to a problem? Please describe.**

Roadrunner is already handling SSL, as a replace for load balancer, nginx, or other similar service. It would be nice to support a kinde of HTTP Cache, so things like Varnish (which don't support ssl) could be handled

**Describe the solution you'd like**

HTTP Cache Handling could be added as kind of middleware I think. It could

[2021-10-09 11:19] alexander-schranz opened #67 "[FEATURE REQUEST] Improve error message when command fails"
**Is your feature request related to a problem? Please describe.**

If I'm running roadrunner on a none exist php script the error message is very cryptical:

<details>
<summary>Error Message</summary>

[code]
</details>

Example:

[code]

**Describe the solution you'd like**

It would be nice to get a nicer error message that example the target script does not exist.

Example php outputs:

Exit c

[2021-10-09 14:08] rustatian commented on #67
If you have any troubles or would like to discuss smt, you may use our discord server: https://discord.gg/TFeEmCs

[2021-10-09 14:16] alexander-schranz commented on #67
Thanks, after some sleep yesterday I found out today that I had a typo in the command script now all works fine 😄

[2021-10-11 08:48] rustatian commented on #24
[code]
This is how to create an In-Memory pipeline in the runtime for example.
See: https://roadrunner.dev/docs/beep-beep-jobs (will be populated with NATS when it's ready).

[2021-10-11 12:10] cappuc opened #69 "[BUG] RR2 GRPC reset"
I was testing the updated grpc plugin for rr v2 I found a problem with the reset.

The version of RR used: v2.5.0-beta.1

After calling reset command, subsequent requests returned this error in the logs:

[code]

The config i used:

[code]

[2021-10-11 15:26] #69 closed, assigned to rustatian

[2021-10-12 07:48] cappuc commented on #69
@rustatian It works fine now. Thank you!

[2021-10-12 11:02] sash2222 commented on #24
planned JS but in principle NATS might be fine too.

[2021-10-12 11:03] rustatian commented on #24
RR2 will support only JS as the initial NATS implementation.

[2021-10-12 11:15] rustatian commented on #24
@sash2222 Just to be on the same page. The worker at the moment can't respond to the request (in terms of the NATS responses). So, RR will listen to the subject/stream and pass the messages to the worker. And also manage NATS ACK/NAK. But at the moment, responses from the JOB worker are not possible.

[2021-10-13 08:24] rustatian commented on #24
Yes

Yeah, you can put in the Job payload (or better headers) whatever you want :)

Yeah. You have to specify the driver for the response and subject for the NATS.

[code]
Then your message *body* will be pushed as the response. Smt like that.

[2021-10-13 08:28] rustatian commented on #24
So, as the summary:
1. response context -> protocol.
2. response body -> your payload to respond.

I'll write documentation for that and send you a link.

[2021-10-15 18:50] #24 closed

[2021-10-22 12:08] Yurunsoft opened #86 "[BUG] Base64 string instead of decoded payload"
I tried this code:

.rr.yaml:

[code]

rr.php:

[code]

client.php:

[code]

Possible outputs:

[code]

When a non JSON request is first posted and then a JSON request is posted, the probability of `"eyJhIjoyfQ=="` will appear

This bug only occurs in v2.5.0

[2021-10-22 16:33] #86 closed, assigned to rustatian

[2021-10-23 00:53] Yurunsoft commented on #86
Thanks~

[2021-10-23 19:23] #85 closed, assigned to rustatian

[2021-10-30 20:29] max-kut opened #99 "[FEATURE REQUEST] Add stdout logging for the `service` plugin"
**Is your feature request related to a problem? Please describe.**
When developing a laravel project locally, the queue is started by command `php artisan queue:listen` in the service section:
[code]
 The queue daemon write running tasks to stdout, which can also be completed with an error. But it is impossible to see in the PP logs which tasks were completed and which ones failed.

**Describe the

[2021-10-31 13:35] revilon1991 opened #100 "[BUG] I cant run grpc server"
Thank you for your work. I have a problem. Maybe, it isn't a bug, but I seem this kind of issue more matches my problem.

I got the `rr` by documentation, then I ran `rr` but I didn't see that `grpc` server is running.
And my client code can't connect to `grpc` server.
What's wrong?

I tried this code:

[code]

I expected to see this happen:
[code]

Instead, this happened:
[code]

The **version of

[2021-10-31 14:04] rustatian commented on #100
Hey @revilon1991 . Documentation is located here: https://github.com/spiral/roadrunner-docs/blob/master/beep-beep/grpc.md
You used the wrong configuration (from RR1). There is no `workers` configuration section. Please, use the configuration from the link above.

[2021-10-31 14:07] rustatian commented on #100
This is the correct output: `{"address": "tcp://127.0.0.1:6001", "plugins": ["informer", "resetter"]}`
This output is from the RPC plugin with registered RPC endpoints. GRPC plugin doesn't have any RPC endpoints, thus, didn't appear in this log message.

[2021-10-31 14:23] revilon1991 commented on #100
@rustatian yes, I saw this doc.
So, I changed my `.rr.yaml`:
[code]
but I got a connection error from the client again.

Maybe we have something else?

I would be glad if I can debug that.

[2021-10-31 14:35] rustatian commented on #100
Could you please share this error?

[2021-10-31 14:47] revilon1991 commented on #100
Yes. My client code:
[code]
and I get:
[code]

Also I checked with `nmap` what's port is open when the server is running.
[code]

I guess that directive `grpc` not handled because I tried to change keys to a wrong (for ex `listen` => `lusten`) and it doesn't give effect (I didn't see any error).

[2021-10-31 15:04] rustatian commented on #100
Could you please share your full configuration? (rr.yaml)

[2021-10-31 15:07] revilon1991 commented on #100
yes, of course. `cat .rr.yaml`
=>
[code]

[2021-10-31 15:12] rustatian commented on #100
@revilon1991 Where did you find this option: `workers.command: "php GrpcWorker.php"` ?

[2021-10-31 15:16] revilon1991 commented on #100
I saw this here https://github.com/spiral/app-grpc#running-grpc-server

It's all my tries.
Also, I tried like that:
[code]
no difference :(

[2021-10-31 15:32] rustatian commented on #100
You used RRv1 configuration on the RRv2 binary (I mentioned this).
1. `grpc` configuration is correct.
2. `rpc` doesn't have `enable` option.
3. https://github.com/spiral/roadrunner-plugins/blob/master/tests/plugins/grpc/configs/.rr-grpc-init.yaml sample config (attention at the `server` plugin)

[2021-10-31 16:12] revilon1991 commented on #100
You are right.
I have progress, but now I see error about CRC:
[code]
Though I copied config from example.

Do I have to do somthing else?

[2021-10-31 16:39] rustatian commented on #100
This is the sample worker: https://github.com/spiral/roadrunner-plugins/blob/master/tests/worker-grpc.php
CRC error means, that your worker responded incorrectly.

[2021-10-31 16:40] rustatian commented on #100
Keep in mind, that you should use the new package: https://github.com/spiral/roadrunner-grpc

[2021-10-31 16:47] revilon1991 commented on #100
Yes, I use the package `spiral/roadrunner-grpc` and content of my worker is identical with https://github.com/spiral/roadrunner-plugins/blob/master/tests/worker-grpc.php

I can show it:
`# cat GrpcWorker.php`
[code]

[2021-10-31 16:49] rustatian commented on #100
The problem might be in some PHP warnings before RR starts for example.

[2021-10-31 17:04] revilon1991 commented on #100
Yes. I saw it when I launch `php GrpcWorker.php`
[code]
I should copy the example files to the project namespace and use those in the worker.

Now I have a strange problem with the port.
[code]

But my port 9001 is not busy. I checked it with `nmap` utils and I tried other ports.

If I can increase verbose maybe I will be able to repair it.

[2021-10-31 17:07] rustatian commented on #100
@revilon1991 Yes, you can use:
[code]
ref: https://github.com/spiral/roadrunner-binary/blob/master/.rr.yaml#L57

[2021-10-31 17:13] revilon1991 commented on #100
I add this to my config:
[code]

It got me such little... :(
[code]

[2021-10-31 17:14] rustatian commented on #100
That means, that workers started successfully.

[2021-10-31 17:20] revilon1991 commented on #100
It starts and stops at once...
I can show you my full flow work:
![road runner cant start](https://screenshots.9ek.ru/s/Снимок_экрана_2021-10-31_в_19.17.54.png)

[2021-10-31 17:21] rustatian commented on #100
The RR clearly says that it cannot bind to this address. Check the RR permissions or other running software.

[2021-10-31 17:33] revilon1991 commented on #100
I could resolve this problem.
I just changed the directive listen:
[code]
=>
[code]

Now it works.

Thank you so much @rustatian. 🤗
I'm very glad.

[2021-10-31 17:36] rustatian commented on #100
You are welcome ❤️  Feel free to close the issue 👍🏻

[2021-10-31 17:38] #100 closed

[2021-11-01 04:10] victor-sudakov opened #101 "[BUG] Is rr_http_workers_memory_bytes the only metric available?"
Hello!

I've enabled Prometheus metrics in rr with
[code]
and added `"spiral/roadrunner-metrics": "^2.0.1"` to composer.json. The only metric I see in Prometheus is "rr_http_workers_memory_bytes". Is it really the only builtin metric in rr? I'd like to see more info, like number of client connections, worker execution times etc. Is that possible?

This Issue should be better classified as a help r

[2021-11-01 05:52] #101 closed

[2021-11-01 13:20] changwuf31 commented on #12
Hi @rustatian, FYI, https://github.com/temporalio/sdk-go/releases/tag/v1.11.0 has been released.

[2021-11-01 13:21] rustatian commented on #12
Thanks, I know, updating the rr-temporal: https://github.com/temporalio/roadrunner-temporal/pull/110

[2021-11-01 18:55] #58 closed

[2021-11-03 10:01] hustlahusky opened #104 "[FEATURE REQUEST] Enhance CORS support"
Current CORS headers settings doesn't covers my use cases.

First of all I want a support of multiple allowed origins (or even any origin) with credentials enabled. Currently `http.headers.cors.allowed_origin = *` and `http.headers.cors.allow_credentials = true` is not working together.

Would be nice if `allowed_origin` can be configured as single origin or array of origins, and option to reflect

[2021-11-05 06:32] dstrop opened #109 "[BUG?] RR2 stop passing requests to workers"
we are upgrading from RR1 to RR2

after deployment everything works
and after some time (few hours) the roadrunner stops responding

I expected to see this happen:
RR keeps proccessing requests indefinitely

Instead, this happened:
RR stops passing requests to workers

the port is still open and listening to requests
[code]

workers are sitting idle with no execs and i can list them
[code]
they ar

[2021-11-05 13:34] dstrop commented on #109
i am confused, i tried looking into the PHP worker but it seems to be wroking

i have added few debug logs into the worker and RR library
<details>
  <summary>code blocks where i added debug logs</summary>

to the main loop to see when request is received
[code]
RR worker to see control messages
[code]
RR Worker to see when we start waiting
[code]
</details>

worker received last request at 163610

[2021-11-05 14:42] rustatian commented on #109
First of all, the RR1 worker is incompatible with RR2.

Worker won't release the request, thus, you can't reset the worker-pool. Workers, which you see from the `rr workers` command are pointers to the original workers, so you'll see the stat w/o interrupting execution flow.

I tested for the 8 hours with the standard `hello world` worker and see no problems here, thus the reason I'm 100 sure is y

[2021-11-05 14:44] rustatian commented on #109
Because RR can interact with the worker, but not the HTTP layer, because its reset operation is blocked by the worker holding the request.

[2021-11-06 01:12] dstrop commented on #109
i believe i may have found race condition in the roadrunner library

can see stacking  requests for worker waiting for RLock
https://github.com/spiral/roadrunner/blob/v2.5.0/worker_watcher/container/channel/vec.go#L94

one new worker trying to be added to the pool holding the RWMutex
https://github.com/spiral/roadrunner/blob/v2.5.0/worker_watcher/container/channel/vec.go#L72

and another new worke

[2021-11-06 04:33] rustatian commented on #109
Thanks for the investigation, but:
1. We can’t block channel, because if we push the worker to the chan there is can be two options - channel is not full, and channel is full. If the channel isn’t full, we just send the worker into it. If it’s full, we go to the default branch. In the default branch we are looping for the workers Len, so it’s limited loop, and it’s can’t block.
2. TTL-ed worker re

[2021-11-06 06:42] rustatian commented on #109
hmm, tbh, I guess this scenario is possible on some slow systems with a low RPS. When for example we have 2 workers, they are TTL-ed, but the worker allocations are slow. In that case, we will have a full channel (because there are no `Pop` calls), then we are draining chan searching the TTL-ed worker and right after that the second worker is allocated and pushed into the chan.

[2021-11-11 07:55] changwuf31 commented on #12
Hi @rustatian, anything we can do to help with the PR ?

[2021-11-12 07:27] victor-sudakov opened #115 "[BUG] A http.headers.static.response in inserted into all responses instead of just static responses"
Roadrunner 2.5.3 is configured to insert the `Cache-Control: "public, max-age=700"` header into static responses. Instead, it inserts it into **all** responses.

HTTP session (the second Cache-Control header is generated by the PHP app):
[code]

rr config snippet:
[code]

[2021-11-13 12:52] rustatian commented on #12
I'm recovering from the COVID-19, so, 2 weeks at least.

[2021-11-15 03:36] changwuf31 commented on #12
Hope you'll have a speedy recovery 🙏

[2021-11-15 09:36] victor-sudakov opened #116 "[FEATURE REQUEST] Prometheus metrics for queued and rejected requests (load monitoring)"
**Problem description**

It is currently not possible to detect/monitor the situations when 1) Roadrunner has started queuing requests because  simultaneous requests >  num_workers and 2) "no free workers in the pool" condition has happened. It is actually possible to see the "no free workers in the pool" condition in the log but only post factum.

**The solution I'd like**
I'd like to have additi

[2021-11-16 15:47] rustatian commented on #116
It's possible. I moved http metrics to the middleware, so, any http metrics will be available.

This is not an HTTP metric. This can be seen in the response status (non 200). Logs will show the actual reason.

[2021-11-16 16:22] rjd22 opened #123 "[FEATURE REQUEST] support for allowlisting uploads for improved security"
**Is your feature request related to a problem? Please describe.**
At this moment you can deny what files are uploaded by the `uploads.forbid` configuration option. Most of the time applications have a really limited scope of files they want to process. Adding an `uploads.allow_only` option would improve server security by a lot because the user only needs to know what he wants to support.

**Desc

[2021-11-16 16:24] rustatian commented on #123
Hey @rjd22 . Thanks for the FR. Agree with you. Will plan this feature for the next after 2.6 release.

[2021-11-17 02:01] victor-sudakov commented on #116
The idea behind this feature request is that when there is a "no free workers" message in the log, it's already too late, we have lost the requests and customers are unhappy. It's better to know ahead of time that there are "**too few** free workers" and the DoS condition is imminent. Can this "number of free workers" be calculated from some internal data and exposed to Prometheus?

[2021-11-17 07:09] rustatian commented on #116
DDoS doesn't relate to this in any way. This is a task for the LB to filter requests, apply a circuit breaker to prevent application DDoS.

This is not smt unexpected for you. You already know your target load as well as `allocation_timeout` and other system parameters. So, you already know the maximum RPS per-pod for example. You only need to scale your system based on your parameters.

[2021-11-17 07:13] rustatian commented on #116
Important note - I'm not against your proposal, the general idea was proposed by other people as well and I agree to do that. But at the moment we have a lot of high-priority tasks, so, this particular metric will not appear soon.

[2021-11-17 10:20] victor-sudakov commented on #116
I never mentioned a DDoS. I said "DoS condition" which simply means "denial of service" and does not have to be the result of a deliberate attack. It can happen when your app is overwhelmed with legitimate requests because you have become famous and rich overnight.

What about autoscaling?

Great, it is not an urgent issue for me either. The bug with static headers (and the ability to have multipl

[2021-11-17 10:25] rustatian commented on #116
This is also not a RR issue. RR can't autoscale and this is devops task.

Yes, sure. But this is an infra misconfiguration problem. The application endpoints should never be exposed to the open internet and should be protected by the infra.

Yes, the bug with the static files (as well as the new static files config) will be resolved in the `v2.6.0`.

[2021-11-17 11:07] victor-sudakov commented on #116
I agree, but to set up autoscaling, a DevOps needs feedback from the application server, preferably in the form of resource metrics (though indirect indicators like CPU load may also be used, for the lack of better metrics).

What difference will it make to the customer if he is denied by a RR congestion or by the infrastructure? He will be unhappy either way. The infrastructure should not deny le

[2021-11-17 11:14] rustatian commented on #116
You don't need such rich feedback, because most of these metrics are constant OR have their upper limits. For example, if your load exceeds 100RPS, based on the calculations, you should add 1 extra pod for example. You don't need some extra metric from the RR to calculate and apply this. All this stat can be exposed from the LB.

The difference is that every domain field should be applied properly

[2021-11-17 20:30] rustatian commented on #115
@victor-sudakov I have updated the documentation. If it's not clear from the docs, please, feel free to inspect the full reference https://github.com/spiral/roadrunner-binary/blob/master/.rr.yaml

[2021-11-17 20:53] rustatian commented on #12
@changwuf31 We are blocked by the https://github.com/temporalio/sdk-go/issues/636 and this change https://github.com/temporalio/sdk-go/commit/16bb227d85dea95ed89b1fee6d7e04438b50103d. We can't update to v 1.11 and upper with this change, so, let's wait until this issue will be resolved.

[2021-11-18 02:08] victor-sudakov commented on #115
Looks clean now!

[2021-11-18 02:22] victor-sudakov commented on #116
Well, the RPS can be received directly from RR, from rate(rr_http_request_total), and this is great and very convenient.

However, when RR is congested, it logs the "no free workers in the pool" message. Is there a gauge somewhere internally in RR with a number of free workers? Or a number of free workers / num_workers? Or busy_workers/free_workers?

Indeed, it was not me who introduced the questi

[2021-11-18 06:39] rustatian commented on #116
There are no particular numbers, but you can use the `status` plugin to obtain statuses. There are readiness (for the k8s) and health checks.

[2021-11-18 07:26] victor-sudakov commented on #116
Thanks for pointing it out, I'll use it for a readinessProbe. I'm already using it for a livenessProbe.

[2021-11-18 08:08] #115 closed

[2021-11-22 09:06] rustatian commented on #29
A little update about streaming file responses. The `sendfile` HTTP middleware handles the `X-Sendfile` header and streams the response back w/o involving the worker in the process. So, you are able to handle the requests with the PHP worker and stream the file(s) in parallel. More info here: https://github.com/spiral/roadrunner-plugins/issues/9, PR https://github.com/spiral/roadrunner-plugins/pul

[2021-11-22 09:19] Ocramius commented on #29
@rustatian streaming files usually not the problem though: streaming batches (think "massive CSV generated from DB") is still the issue though

[2021-11-22 09:21] rustatian commented on #29
Yep, sure. That's was just a little update about streaming in general. Not about the ticket's topic.

[2021-11-23 11:18] #99 closed

[2021-11-23 18:48] #57 closed

[2021-11-24 04:36] victor-sudakov commented on #50
I did not quite understand the idea. Does this new static files server listen on a port different from http.address? It was great that RR could serve both static and dynamic content on the same port (it worked much like try_files in nginx), but now is that impossible?

[2021-11-24 05:57] rustatian commented on #50
Discussion in the PR: https://github.com/spiral/roadrunner-plugins/pull/130

[2021-11-24 12:34] rustatian commented on #123
@rjd22 Will be in the `v2.6.0`

[2021-11-24 20:03] rustatian commented on #104
Hey @hustlahusky , thanks for the FR. I need more details about the described problems:

What do you mean by `not working` here? It should not work according to the standard. https://fetch.spec.whatwg.org/#cors-protocol-and-credentials

`Access-Control-Allow-Origin` header can contain only 1 origin. Here is the trick to have an array with the origins and check every incoming origin with the origin

[2021-11-25 08:01] hustlahusky commented on #104
I mean that `allowed_origin = *` and `allow_credentials = true` generates next `Access-Control-Allow-Origin: *` and `Access-Control-Allow-Credentials: true` headers, that will never allow browsers to use credentials. I expect that RoadRunner can handle this situation for me and allow any specified in request header origin to use credentials.

I mean RoadRunner can allow any origin reflected from r

[2021-11-28 09:34] rustatian commented on #12
@khoerintus , @changwuf31 Updated, could you try the https://github.com/spiral/roadrunner-binary/releases/tag/v2.6.0-rc.1 release? This bug should be fixed in it. temporal go-sdk updated to the latest version.

[2021-11-29 09:12] rustatian opened #137 "[INVESTIGATE] Investigate a possibily of using `protobuf` instead of `json`"
Investigate performance and latency pros and cons of using the `protobuf` format in the `RR <-> PHP worker` communication.
1. HTTP plugin -> Request parsing, packing data to the `payload`.
2. JOBS plugin -> The same as HTTP plus internal communication.
3. KV, GRPC -> Request parsing plus packing data to the `payload`

[2021-11-29 15:44] changwuf31 commented on #12
Hi @rustatian
I've tried the 2.6.0-rc1

The issue is still unresolved yet though ..
Got this in the log
[code]

[2021-11-29 15:46] rustatian commented on #12
@changwuf31 It's the correct message. What's the last status of the activity?

[2021-11-29 15:52] changwuf31 commented on #12
Log
![image](https://user-images.githubusercontent.com/2149047/143899460-36845779-edf2-42d3-995b-edeec0a9ca56.png)
Activity
![image](https://user-images.githubusercontent.com/2149047/143899604-1a32a2dc-6395-4786-99ab-c18d2d973dbd.png)
Workflow
![image](https://user-images.githubusercontent.com/2149047/143899681-523abef0-7c7c-4a7d-9b5f-30ab98d65170.png)

[2021-11-29 16:03] changwuf31 commented on #12
[code]
  Log with debug level

![image](https://user-images.githubusercontent.com/2149047/143901440-b38cea82-4243-4f2b-8b98-8e67ab53f51f.png)

[2021-11-29 16:09] rustatian commented on #12
Ok, thanks, I'll have a look. Looks like the `client` plugin stops first, preventing other plugins to send the data to the temporal.

[2021-12-01 07:04] rustatian commented on #12
@changwuf31 Could you try this version https://github.com/spiral/roadrunner-binary/releases/tag/v2.6.0, I fixed the plugin's stop order, now, the client stopped last in the row.

[2021-12-01 16:31] changwuf31 commented on #12
![image](https://user-images.githubusercontent.com/2149047/144272841-de4e50cc-cbc8-42eb-a024-ce4e50bb20c5.png)

The last activity is "ActivityTaskCompleted"
The workflow status is "COMPLETED"
The client plugin also is stopped after the workflow plugin.
Looks Good, thank u @rustatian  :+1:

[2021-12-01 16:53] rustatian commented on #12
Awesome, thank you @changwuf31 . Closing the ticket.

[2021-12-01 16:53] #12 closed

[2021-12-01 16:54] rustatian commented on #12
link: https://github.com/spiral/endure/pull/109

[2021-12-02 11:19] paulermo opened #142 "[💡FEATURE REQUEST]: Add the ability for SQS plugin to fetch credentials from AWS instead of statically configured empty ones"
SQS plugin while connecting to AWS SQS can use only statically provided in .yaml key & secret.  We have pod in AWS EKS which should connect to SQS using IRSA mapping (https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts.html) and can not store keys in config file to authorize pod. RoadRunner overrides creds fetched automatically with empty ones from config.

AWS SDK prov

[2021-12-02 12:20] brzuchal opened #143 "[BUG] signal SIGSEGV: segmentation violation code=0x1 addr=0x38 pc=0xd7ca3d"
I tried running this:

[code]

My `.rr.dev.yaml` configuration is:
[code]

Please instruct how can I enrich with required details.

My installation details:
[code]
Composer packages:
[code]

RR version:
[code]

[2021-12-02 12:37] brzuchal commented on #143
@rustatian it helped me

[2021-12-02 12:38] rustatian commented on #143
Ok, I'll have a look, looks like some plugin trying to get workers info when there are no workers yet in the pool. I'll release a bugfix soon.

[2021-12-02 12:53] rustatian commented on #143
@brzuchal This issue occurred right after RR was started, correct?

[2021-12-02 13:05] rustatian commented on #142
Hey @paulermo . Thanks for the FR. For sure, this feature is important for the use-cases like you, thus, this feature is approved.

[2021-12-02 13:51] rustatian commented on #143
And the second question, with the `status` plugin, does this issue occur on every run or randomly?

[2021-12-02 17:26] brzuchal commented on #143
Got another with the `status` disabled
[code]

[2021-12-02 17:32] rustatian commented on #143
Yep, this is not related to the `status` this is a topological sort issue when the `rpc` plugin started before the `informer` plugin. I'll fix that, but I need more time to find a problem.

[2021-12-02 22:52] #143 closed

[2021-12-02 23:46] rustatian commented on #143
@brzuchal Could you try the new version please: https://github.com/spiral/roadrunner-binary/releases/tag/v2.6.2?

[2021-12-03 06:02] brzuchal commented on #143
@rustatian I can now confirm the new version works fine with status configuration applied.

[2021-12-03 08:35] paulermo opened #150 "[FEATURE REQUEST] Support for SQS FIFO queues"
RoadRunner jobs plugin can not utilize AWS SQS FIFO queues. We can not specify usage of FIFO queue because of viper unmarshalling issue: rr.yaml while unmarshalled has all keys converted to lowercase.

Two conditions should be satisfied for the ability to use FIFO queue: 1) name of queue should end with suffix `.fifo` and 2) attribute `FifoQueue: true` should be provided.

Because of unmarshalling

[2021-12-06 05:56] victor-sudakov commented on #50
I think the new fileserver plugin is great, thank you very much! It could benefit from a couple of more features but this would be another feature request if ever.

[2021-12-06 05:56] #50 closed

[2021-12-06 05:57] rustatian commented on #50
@victor-sudakov You are welcome)

[2021-12-07 09:41] brzuchal opened #155 "[BUG] [signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0xd7d84e]"
Not much to say, it happens on reloading workers.

The version of RR used: *version: 2.6.3, buildtime: 2021-12-03T11:37:00+0000*

My `.rr.yaml` configuration is:
[code]

Errortrace, Backtrace or Panictrace
[code]

</p>
</details>

[2021-12-07 09:44] rustatian commented on #155
Hey @brzuchal. Does it happen on every reload?

[2021-12-07 09:55] brzuchal commented on #155
@rustatian no, it is really hard to spot the right preconditions. Tried replacing dependency version using composer, tried, warming up Symfony cache, tried with some Symfony config file changes to trigger the reload and no success in reproducing it.
I fear that the above-mentioned segfault will be hard to spot.

[2021-12-07 09:56] rustatian commented on #155
Did you restart RR between tries?

[2021-12-07 10:00] brzuchal commented on #155
It's containerized so no. Unless you're asking to restart workers but I guess it has nothing to do.

[2021-12-07 10:04] rustatian commented on #155
Got u, I'll try to reproduce, thanks.

[2021-12-07 10:51] rustatian commented on #155
@brzuchal So, the RR fails on the first file change, am I right? I mean, it's not like for example working for an hour and then on random Reset fails.

[2021-12-07 11:30] rustatian commented on #155
Last week I found a bug in our container, but I haven't released a version. I'll try to reproduce this issue on the `2.6.3` and release the new one.

[2021-12-07 12:30] rustatian commented on #155
@brzuchal Just curious, do you use reloader for the local development or in the production?

[2021-12-07 12:38] brzuchal commented on #155
@rustatian no worries, development only, you just see the prod in container name cause I have default prod environment in Symfony app

[2021-12-07 13:28] rustatian commented on #155
@brzuchal try the new version please: https://github.com/spiral/roadrunner-binary/releases/tag/v2.6.4 (wait few minutes till GitHub generates binaries and docker image)

[2021-12-08 13:19] rustatian commented on #155
Hey @brzuchal, have you been faced this issue after RR updated to `v2.6.4`?

[2021-12-08 15:08] brzuchal commented on #155
@rustatian no, but TBH didn't manage to test it well on local since had to switch projects. BTW in the meantime, the fixed version works with production settings on our staging environment for 6h with no issues (ofc without reloader, but 🤷 ) This is all I can say.

[2021-12-08 15:09] rustatian commented on #155
It's ok, thanks for the feedback, let's wait more time to be sure 🧑‍🏭

[2021-12-09 12:48] #32 closed

[2021-12-09 14:53] rustatian opened #157 "[DOC] Provide a better description for the `root_ca` option in the `grpc` and `http` plugins."
It's not obvious, that in the GRPC plugin, `root_ca` is used to verify the client. So, we need to provide a better doc for that as well as for the `auth_type`.

[2021-12-13 03:29] victor-sudakov opened #161 "[💡 FEATURE REQUEST]: "allow" and "forbid" directives in the new fileserver plugin?"
### Plugin

File server

### I have an idea!

It would be nice for the new fileserver plugin to support the "allow" and "forbid" directives which were available in the old static middleware.

[2021-12-13 03:41] victor-sudakov opened #162 "[🐛 BUG]: The `rr_http_requests_queue` metric type is probably incorrect."
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

I'm afraid the rr_http_requests_queue metrics has incorrect type. It has the type of "summary" while in fact it is a gauge.

Quoting the Prometheus docs

So basically rr_http_requests_queue_sum should never go down, but of course it does, and it has to be used as a

[2021-12-13 06:46] rustatian commented on #162
Hey @victor-sudakov. Yep, there are differences between `Gauge` and currently used `Summary`. The summary was chosen because `Gauge` will panic on negative numbers which I've seen sometimes. So, I wanted to use the safest approach from the stability POV. I'll retest `Gauge` one more time.

[2021-12-13 07:03] victor-sudakov commented on #162
It is very strange because a gauge is in 64-Bit floating point format which officially supports negative numbers. If it's a bug in Prometheus or in the library, it should be reported.

[2021-12-13 07:24] rustatian commented on #162
Yep, I know. I need to re-check this, might be that was my issue somewhere. Will be available in `2.7`.

[2021-12-13 07:44] rustatian commented on #162
Yeah, I have tested `Gauge` on high load, no errors were reported. Let's switch this type as semantically more suitable.

[2021-12-13 07:58] rustatian commented on #155
Hey @brzuchal , any updates on this? 😃

[2021-12-13 09:59] #162 closed

[2021-12-14 13:32] rustatian commented on #162
Enjoy: https://github.com/spiral/roadrunner-binary/releases/tag/v2.6.5 ))

[2021-12-14 16:47] samdark opened #169 "[🐛 BUG]: Execution is stopped immediately after response is sent"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

## Current behavior

Currently the worker is terminated immediately after respons is received. Both `finally` blocks and shutdown functions, that are normally executed in PHP-FPM and PHP-cgi, are not executed at all.

These are typically used for closing connection

[2021-12-14 19:17] rustatian opened #170 "[💡FEATURE REQUEST]: RabbitMQ durable queue"
### Discussed in https://github.com/spiral/roadrunner-plugins/discussions/167

<div type='discussions-op-text'>

<sup>Originally posted by **Colomix** December 14, 2021</sup>
I want add job consume to queue with durable: true, but my service fail, because i can't set it from config</div>

[2021-12-15 03:00] victor-sudakov commented on #162
Are you sure it's fixed?

[code]

[2021-12-15 04:01] victor-sudakov commented on #162
Related: https://github.com/spiral/roadrunner-binary/issues/151

[2021-12-15 06:19] rustatian commented on #162
It's fixed in the master branch, but I guess by some reason `cherry-pick` into stable was failed. Ok, sorry, have to re-release.

[2021-12-15 09:31] victor-sudakov commented on #162
And I'm afraid the rr_http_requests_queue_sum is also broken now, it's always zero. So 2.6.5 is kind of between 2 worlds.

[2021-12-15 09:35] rustatian commented on #162
Yep, `cherry-pick` failed. The new version will be in a moment.

[2021-12-15 10:35] rustatian commented on #162
@victor-sudakov https://github.com/spiral/roadrunner-binary/releases/tag/v2.6.6

[2021-12-15 11:11] victor-sudakov commented on #162
Works as expected in v2.6.6, thank you!

[2021-12-16 21:07] rustatian opened #174 "[💡 FEATURE REQUEST]: Create basic metrics dashboard for the Grafana"
### Plugin

_No response_

### I have an idea!

Create a basic dashboard to monitor plugins in the [grafana](https://grafana.com/).

[2021-12-21 14:23] sergey-telpuk opened #175 "[💡 FEATURE REQUEST]: Decrease/set up a timeout for an error log"
### Plugin

JOBS

### I have an idea!

RR > 2.*
When set incorrect credentials for sqs driver. Now, We must wait too long time to see the error log. I expect to see error as soon as possible, so I suggest decreasing this time for example 30s or give an ability for configuring this one.

[2021-12-22 10:24] Bibob7 opened #176 "[💡 FEATURE REQUEST]: Decouple Application Logging and Roadrunner Logging"
### Plugin

Server

### I have an idea!

I have a problem when using Application logging since it is currently coupled to the logs config of the server plugin.
I can only see application logs, when log level of roadrunner is at least `info`

Additionally, also the log encoding influences my application logging, where I already use a json formatter with monolog.

I would like to simply write applic

[2021-12-22 10:57] rustatian commented on #155
Friendly ping @brzuchal, any updates on this?

[2021-12-22 12:40] rustatian commented on #155
Ok, np. I'll close this issue since we haven't seen it on our envs as well. Feel free to reopen it if it still exists. Thanks.

[2021-12-22 12:40] #155 closed

[2021-12-24 08:40] rustatian opened #180 "[🐛 BUG]: 200 HTTP status code instead of 400 on readiness/health bad requests"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

The `status` plugin returns `OK` (200) HTTP status code on a bad request when the user doesn't specify the plugins to check.
Should be status code 400.

### Version

2.6.6

### Relevant log output

_No response_

[2021-12-26 10:04] rustatian opened #182 "[💡 FEATURE REQUEST]: Native jobs drivers statistic"
### Plugin

JOBS

### I have an idea!

We have a `Stat` RPC method in the `jobs` driver which provides a simple driver's statics, such as the number of delayed, active, and ready jobs. Not all drivers support this format and it's hard to control all flow cases to count these numbers for the `drivers` which don't support that.
Instead of trying to control the flow, provide the driver's native state

[2021-12-26 10:38] rustatian opened #183 "[💡 FEATURE REQUEST]: `Config` plugin compatibility matrix"
### Plugin

Config

### I have an idea!

In the RR `v2.7` we will introduce the configuration version with the automatic update from the previous 2-3 versions to the most recent.
We need to have a doc, where we show the compatibility matrix for the configurations and RR versions.
Much like this: https://docs.docker.com/compose/compose-file/compose-versioning/#compatibility-matrix

[2021-12-26 15:00] #180 closed

[2021-12-29 11:40] arku31 opened #185 "[🐛 BUG]: newrelic plugin removes/modifies more headers than it should"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

If you are enabling new_relic plugin, it removes f.e. Content-type

Before enabling:

After enabling:

The only change I do is adjusting configuration from

to

### Version

2.6.3

### Relevant log output

_No response_

[2021-12-29 13:52] arku31 commented on #185
Sample configuration
[code]

default worker can be used with this body
[code]

without plugin:
[code]
with plugin:
[code]

[2021-12-29 21:06] rustatian opened #187 "[💡 FEATURE REQUEST]: HTTP cache, Level 1"
### Plugin

HTTP

### I have an idea!

HttpCache over Cache-Control and Vary Header build on top of public and s-maxage attributes for GET and HEAD request [HTTP Specification](https://datatracker.ietf.org/doc/html/rfc7234#section-5.2.2.9). Added: The [`Age`](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Age) response header when loaded from the cache should correctly be set.
ref: http

[2021-12-30 12:01] arku31 opened #188 "[🐛 BUG]: kv plugin: isAvailable() doesn't work"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

According to docs, you may check that kv plugin is present
[code]

But it always leads to the error

```Fatal error: Uncaught LogicException: The "kv" RoadRunner plugin not available in ...```

If you remove this check and try to access kv directly, it is working w

[2022-01-05 13:40] sergey-telpuk opened #190 "[🐛 BUG]: Infinity loop after receiving a bad response"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

There is the loop for handling the received task.
[code]

### Version

v2.6.6

### Relevant log output

[code]

[2022-01-05 14:03] hetao29 opened #191 "[💡 FEATURE REQUEST]: Support for the `gzip` gRPC codec"
### No duplicates 🥲.

- [X] I have searched for a similar issue in our bug tracker and didn't find any solutions.

### What happened?

when my gRPC Client enabled the GzipCodec, then client got the error

my client code:
[code]

the error info:
[code]

### Version

2.x

### Relevant log output

_No response_

[2022-01-06 06:17] Yurunsoft opened #194 "[💡 FEATURE REQUEST]: Custom worker"
### Plugin

_No response_

### I have an idea!

I have an idea, listen to me!!

Can I customize the worker? Like HTTP, I can define commands, pools, etc

[code]

I hope to rely on the resident memory feature of roadrunner to implement my own worker.

[2022-01-06 08:07] rustatian commented on #194
@Yurunsoft You are saying about worker customization, what do you mean here?

[2022-01-06 08:16] Yurunsoft commented on #194
I hope to write an endless loop in the custom worker process to achieve some functions, such as cron.
Temporal is too bloated.

[2022-01-06 08:26] rustatian commented on #194
To create your own worker you only need to implement the `goridge` protocol to communicate with the RR: https://github.com/spiral/goridge/blob/master/pkg/frame/frame.md

It's already implemented in the https://github.com/spiral/goridge-php library. To create your own worker you can import this library in your custom worker (you may have a look at the https://github.com/spiral/roadrunner-worker)

[2022-01-07 12:44] rustatian commented on #191
Good, I'll add gzip codec in the upcoming release, please stay tuned 👍🏻

[2022-01-10 11:11] #187 closed

[2022-01-10 11:11] #185 closed

[2022-01-10 13:04] #191 closed

[2022-01-10 13:54] #170 closed

[2022-01-10 16:19] #142 closed

[2022-01-10 20:14] #190 closed

[2022-01-11 07:35] Yurunsoft commented on #194
Thanks, this has solved my problem <https://roadrunner.dev/docs/beep-beep-service>

[2022-01-11 07:35] #194 closed

[2022-01-11 12:04] rustatian opened #201 "[💡 FEATURE REQUEST]: Cache middleware documentation"
### Plugin

HTTP

### I have an idea!

Update cache plugin documentation

[2022-01-11 16:07] #201 closed

[2022-01-13 10:05] arku31 opened #208 "[💡 FEATURE REQUEST]: add ignore_transaction to newrelic plugin"
### Plugin

HTTP

### I have an idea!

(newrelic plugin is not listed in the section above, so none is selected)

There is a possibility to ignore a transaction.  We may send a header `rr_newrelic_ignore:true` and this should lead to ignoring the existing transaction, nothing should be sent to newrelic

Note: This should be applied for both: errors and normal transaction

See for the reference: ht

[2022-01-13 10:41] arku31 opened #209 "[💡 FEATURE REQUEST]: newrelic: option to consider some http codes as not error codes"
### Plugin

_No response_

### I have an idea!

Currently, if the status code is f.e. 412, it will be reported as an error. However, for some applications, 412 is the expected result and it should not be reported as an error but as a normal transaction. The solution for this is to

Add a configuration field to the newrelic section:
```error_status_codes: 500,424```

If the status code is listed th

[2022-01-13 12:01] roxblnfk opened #210 "[💡 FEATURE REQUEST]: upgrade TCP plugin"
### Plugin

TCP

### I have an idea!

I think the TCP plugin needs to be reworked.

The way the RR-TCP plugin works now:
RR cuts off data by separator and sends it to different vorkers.
This approach works well when writing an SMTP server, but it's not enough for a true TCP server.
For example we can't handle HTTP protocol, binary protocol or any custom protocol.

---

I propose to make the plugin

[2022-01-13 13:18] rustatian commented on #183
Done

[2022-01-13 13:18] #183 closed

[2022-01-13 13:19] rustatian commented on #157
Configuration key comment updated

[2022-01-13 13:19] #157 closed